@charset "UTF-8";
/* tout ce code a été trouvé sur un site bien évidemment.. */
.messContainer {
  position: absolute;
  z-index: 100;
  top: 38%;
  left: 36%;
  font-size: x-large;
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  background: #000;
  overflow: hidden;
}

.pyro > .before, .pyro > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
          box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.pyro > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: -36px -256.66667px #ff0037, 28px -72.66667px #04ff00, -162px -281.66667px #ff00a2, 116px -46.66667px magenta, 142px -333.66667px #00d5ff, -24px 69.33333px #ff8800, 143px -348.66667px #fbff00, 189px -200.66667px #0062ff, 136px -294.66667px #1500ff, 180px -36.66667px #ffe600, -100px 62.33333px #f200ff, -67px -414.66667px #99ff00, 34px -388.66667px #ff9d00, -121px -105.66667px #d900ff, 213px -414.66667px #bfff00, -116px -14.66667px #ff00f7, -69px 76.33333px #ffb300, -150px -211.66667px #003cff, -53px 61.33333px deepskyblue, 189px -280.66667px #ff009d, -217px -196.66667px #ff003c, 87px -72.66667px #00fffb, -210px 15.33333px #3cff00, 20px -168.66667px #ff7b00, -116px 19.33333px #0062ff, 130px -403.66667px #91ff00, -104px -29.66667px #00ff09, -21px -303.66667px #0099ff, -28px 18.33333px #f7ff00, -32px 9.33333px #ff00d5, 214px -110.66667px #d500ff, -183px -192.66667px #ffa600, -33px -358.66667px #55ff00, 234px -275.66667px #ffd900, -43px -121.66667px #00ffcc, -68px 11.33333px #ff0095, -137px 57.33333px #ff8000, 69px -129.66667px #44ff00, -29px -357.66667px #2600ff, 130px -266.66667px #ff00bf, -221px -381.66667px #e6ff00, 113px 29.33333px #0062ff, -197px -133.66667px #ff0037, -16px 20.33333px #fbff00, 85px -178.66667px #00ff6a, -33px -369.66667px #00c8ff, 72px -280.66667px #00ffcc, -15px -387.66667px #bf00ff, -169px -132.66667px #00ffd9, -34px -105.66667px #bfff00, -230px -326.66667px darkorange;
            box-shadow: -36px -256.66667px #ff0037, 28px -72.66667px #04ff00, -162px -281.66667px #ff00a2, 116px -46.66667px magenta, 142px -333.66667px #00d5ff, -24px 69.33333px #ff8800, 143px -348.66667px #fbff00, 189px -200.66667px #0062ff, 136px -294.66667px #1500ff, 180px -36.66667px #ffe600, -100px 62.33333px #f200ff, -67px -414.66667px #99ff00, 34px -388.66667px #ff9d00, -121px -105.66667px #d900ff, 213px -414.66667px #bfff00, -116px -14.66667px #ff00f7, -69px 76.33333px #ffb300, -150px -211.66667px #003cff, -53px 61.33333px deepskyblue, 189px -280.66667px #ff009d, -217px -196.66667px #ff003c, 87px -72.66667px #00fffb, -210px 15.33333px #3cff00, 20px -168.66667px #ff7b00, -116px 19.33333px #0062ff, 130px -403.66667px #91ff00, -104px -29.66667px #00ff09, -21px -303.66667px #0099ff, -28px 18.33333px #f7ff00, -32px 9.33333px #ff00d5, 214px -110.66667px #d500ff, -183px -192.66667px #ffa600, -33px -358.66667px #55ff00, 234px -275.66667px #ffd900, -43px -121.66667px #00ffcc, -68px 11.33333px #ff0095, -137px 57.33333px #ff8000, 69px -129.66667px #44ff00, -29px -357.66667px #2600ff, 130px -266.66667px #ff00bf, -221px -381.66667px #e6ff00, 113px 29.33333px #0062ff, -197px -133.66667px #ff0037, -16px 20.33333px #fbff00, 85px -178.66667px #00ff6a, -33px -369.66667px #00c8ff, 72px -280.66667px #00ffcc, -15px -387.66667px #bf00ff, -169px -132.66667px #00ffd9, -34px -105.66667px #bfff00, -230px -326.66667px darkorange;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: -36px -256.66667px #ff0037, 28px -72.66667px #04ff00, -162px -281.66667px #ff00a2, 116px -46.66667px magenta, 142px -333.66667px #00d5ff, -24px 69.33333px #ff8800, 143px -348.66667px #fbff00, 189px -200.66667px #0062ff, 136px -294.66667px #1500ff, 180px -36.66667px #ffe600, -100px 62.33333px #f200ff, -67px -414.66667px #99ff00, 34px -388.66667px #ff9d00, -121px -105.66667px #d900ff, 213px -414.66667px #bfff00, -116px -14.66667px #ff00f7, -69px 76.33333px #ffb300, -150px -211.66667px #003cff, -53px 61.33333px deepskyblue, 189px -280.66667px #ff009d, -217px -196.66667px #ff003c, 87px -72.66667px #00fffb, -210px 15.33333px #3cff00, 20px -168.66667px #ff7b00, -116px 19.33333px #0062ff, 130px -403.66667px #91ff00, -104px -29.66667px #00ff09, -21px -303.66667px #0099ff, -28px 18.33333px #f7ff00, -32px 9.33333px #ff00d5, 214px -110.66667px #d500ff, -183px -192.66667px #ffa600, -33px -358.66667px #55ff00, 234px -275.66667px #ffd900, -43px -121.66667px #00ffcc, -68px 11.33333px #ff0095, -137px 57.33333px #ff8000, 69px -129.66667px #44ff00, -29px -357.66667px #2600ff, 130px -266.66667px #ff00bf, -221px -381.66667px #e6ff00, 113px 29.33333px #0062ff, -197px -133.66667px #ff0037, -16px 20.33333px #fbff00, 85px -178.66667px #00ff6a, -33px -369.66667px #00c8ff, 72px -280.66667px #00ffcc, -15px -387.66667px #bf00ff, -169px -132.66667px #00ffd9, -34px -105.66667px #bfff00, -230px -326.66667px darkorange;
            box-shadow: -36px -256.66667px #ff0037, 28px -72.66667px #04ff00, -162px -281.66667px #ff00a2, 116px -46.66667px magenta, 142px -333.66667px #00d5ff, -24px 69.33333px #ff8800, 143px -348.66667px #fbff00, 189px -200.66667px #0062ff, 136px -294.66667px #1500ff, 180px -36.66667px #ffe600, -100px 62.33333px #f200ff, -67px -414.66667px #99ff00, 34px -388.66667px #ff9d00, -121px -105.66667px #d900ff, 213px -414.66667px #bfff00, -116px -14.66667px #ff00f7, -69px 76.33333px #ffb300, -150px -211.66667px #003cff, -53px 61.33333px deepskyblue, 189px -280.66667px #ff009d, -217px -196.66667px #ff003c, 87px -72.66667px #00fffb, -210px 15.33333px #3cff00, 20px -168.66667px #ff7b00, -116px 19.33333px #0062ff, 130px -403.66667px #91ff00, -104px -29.66667px #00ff09, -21px -303.66667px #0099ff, -28px 18.33333px #f7ff00, -32px 9.33333px #ff00d5, 214px -110.66667px #d500ff, -183px -192.66667px #ffa600, -33px -358.66667px #55ff00, 234px -275.66667px #ffd900, -43px -121.66667px #00ffcc, -68px 11.33333px #ff0095, -137px 57.33333px #ff8000, 69px -129.66667px #44ff00, -29px -357.66667px #2600ff, 130px -266.66667px #ff00bf, -221px -381.66667px #e6ff00, 113px 29.33333px #0062ff, -197px -133.66667px #ff0037, -16px 20.33333px #fbff00, 85px -178.66667px #00ff6a, -33px -369.66667px #00c8ff, 72px -280.66667px #00ffcc, -15px -387.66667px #bf00ff, -169px -132.66667px #00ffd9, -34px -105.66667px #bfff00, -230px -326.66667px darkorange;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%, 19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%, 39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%, 59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%, 79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%, 99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
/*# sourceMappingURL=felicitations.css.map */